.a{
text-align:center;
font-size: 60px;
color: hotpink;
}
.b{
font-weight:300;
font-family:sans-serif;
text-align:center;
margin:10px;
padding:10px;
border-width:10px;
border-style:dotted;
color:hotpink;
}
.c{
background-image:url("https://www.pakutaso.com/shared/img/thumb/PPW_utatanewosuruneko.jpg");
background-attachment:fixed;
background-size:cover;
background-position:center;
margin:0;
}
.umeki{
    background-color: white;
}
.d{
z-index:1;
border-style:groove;
width:400px;
height:200px;
text-align:left;
}
.e{
z-index:2;
border-style:groove;
position:absolute;
width:500px;
height:200px;
bottom:0;
left:0;
right:0;
margin:auto;
}
.f{
z-index:3;
right:0;
border-style:groove;
width:400px;
height:400px;
position:fixed;
}